-
  var UPDATE_TIME_STAMP = '202202';
  var WEBSITE_DOMAIN = 'sumzap.co.jp';
  var WEBSITE_URL = `https://${WEBSITE_DOMAIN}/xxx`;

  var globalState = {
    updateTimeStamp: UPDATE_TIME_STAMP,
    websiteUrl: WEBSITE_URL,
    websiteDomain: WEBSITE_DOMAIN,
    websiteDir: '/',
    keywords: 'キーワード,キーワード,キーワード,キーワード,キーワード,キーワード10個程度',
    description: 'ディスクリプション100文字',
    title: 'xxx公式サイト',
    apptitle: 'xxx',
    ogSiteName: 'xxx公式サイト',
    ogurl: `${WEBSITE_URL}/`,
    ogImage: `${WEBSITE_URL}/assets/common/img/ogp.png`,
    share: {
      text: 'ディスクリップション\n\nディスクリップション\nディスクリップション\n#ハッシュ\n\n#ハッシュ #ハッシュ\n',
      url: {
        twitter: `${WEBSITE_URL}/`,
        facebook: `${WEBSITE_URL}/`,
        line: `${WEBSITE_URL}/`
      }
    }
  }
